@model UpLoadPhotoMVC.Entities.Product

<h1> Thông tin sản phẩm đã cập nhật
    </h1>
Id: @Model.ProductId
<hr/>
Name: @Model.Name
<hr/>
 Price: @Model.Price
<hr/>
  Photo: <img src="~images/@Model.Photo" width="200" height="200" alt="Example image" />